#carouselHeader .search {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; }

.left-poly, .right-poly {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid; }

.left-poly {
  border-color: transparent transparent transparent #FFFFFF;
  border-width: 80px 0px 0px calc( 100vw / 2 ); }

.right-poly {
  right: 0px;
  border-color: transparent transparent #FFFFFF;
  border-width: 0px 0px 80px calc( 100vw / 2 ); }

.poly-container {
  position: relative;
  top: -80px; }

.square {
  position: relative;
  overflow: hidden;
  margin: 0 auto; }
  .square img {
    position: absolute;
    top: 0;
    left: 0; }

@media screen and (min-width: 768px) {
  nav .navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center; }
    nav .navbar-nav li {
      display: inline-block !important;
      float: none !important;
      margin-right: 10px;
      text-transform: uppercase; } }

#carouselHeader .carousel-inner {
  max-height: 620px; }
  #carouselHeader .carousel-inner img {
    width: 100%; }
    @media screen and (max-width: 880px) {
      #carouselHeader .carousel-inner img {
        width: auto;
        height: 100%; } }
#carouselHeader .search {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  width: 100%;
  align-items: center;
  justify-content: center; }
  #carouselHeader .search form {
    padding: 30px;
    background: rgba(51, 51, 51, 0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    #carouselHeader .search form label {
      text-transform: capitalize;
      font-weight: 700;
      color: #FFFFFF; }
    #carouselHeader .search form #priceFrom {
      float: left; }
#carouselHeader .carousel-control-prev, #carouselHeader .carousel-control-next {
  z-index: 10; }
  @media screen and (max-width: 576px) {
    #carouselHeader .carousel-control-prev, #carouselHeader .carousel-control-next {
      display: none; } }

#events {
  padding-top: 60px;
  padding-bottom: 60px; }
  #events h1 {
    padding-top: 50px;
    padding-bottom: 50px; }
  #events figure .figure-caption {
    height: 150px;
    overflow: hidden; }
    #events figure .figure-caption a {
      color: #333333;
      font-size: 1.5em !important;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px; }
      #events figure .figure-caption a:hover {
        text-decoration: none; }
  #events figure .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: rgba(208, 125, 24, 0.6); }
  #events figure .square:hover .overlay {
    opacity: 1; }
  #events figure .square:hover img {
    transform: scale(1.2);
    transition: 1s ease; }
  #events figure .more {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }

footer {
  background: #B3B3B3;
  padding-top: 30px;
  padding-bottom: 50px; }

footer .fa {
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

footer .fa:hover {
  color: #FFF;
  text-decoration: none; }

footer .fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 5px; }

footer .fa-google {
  background: #dd4b39;
  color: white;
  margin-left: 5px; }

footer .fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: 5px; }

footer address {
  margin-bottom: 0; }

footer address span {
  display: block;
  font-size: 1.2em; }

footer address span a {
  color: #333; }

footer address span a:hover {
  color: #333;
  text-decoration: none; }

footer address span i {
  color: #555; }

footer address .address i {
  margin-left: 0.225em;
  margin-right: 0.225em; }

footer address .phone i {
  margin-right: 0.15em; }

/*# sourceMappingURL=style.css.map */
